/* Main Styles --------------------------*/
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

ul {
  list-style: none;
}

img {
  height: 50px;
}

/* Header Grid --------------------------*/
header {
  background-color: #ffb5b5;
  display: grid;
  grid-template-columns: 3fr;
  grid-template-areas: "h1 bell-div main-profile-image profile-name";
}

h1 {
  grid-area: h1;
}

.bell-div {
  grid-area: bell-div;
}

img[src="images/pusheen.jpg"] {
  grid-area: main-profile-image;
  border-radius: 50%;
}

.profile-name {
  grid-area: profile-name;
}

/* Dashboard Grid --------------------------*/
.main-content-header {
  display: grid;
  grid-template-areas:
    "headline main-header-search"
    "alert alert";
}

.headline {
  grid-area: headline;
}

.main-header-search {
  grid-area: main-header-search;
}

.alert {
  grid-area: alert;
}

/* Traffic Header Grid --------------------------*/
.traffic-header {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-areas: "traffic-header-h3 traffic-header-ul";
}

.traffic-header h3 {
  grid-area: traffic-header-h3;
  margin-left: 0.6em;
}

ul li {
  display: inline;
  padding-left: 0.3em;
}

/* Grid Area --------------------------*/
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-gap: 5px;
  grid-template-areas:
    "header"
    "main-nav"
    "main-content";
}

header {
  grid-area: header;
}

.main-nav {
  grid-area: main-nav;
  background-color: #ffdede;
}

.main-content {
  display: grid;
  grid-area: main-content;
  background-color: #fff7f7;
}

.social-image {
  height: 50px;
  width: 50px;
}

.widget-container-full,
.widget-container-half {
  width: 95vw;
}

/* Media Queries --------------------------*/
@media (min-width: 768px) {
  /* Styles --------------------------*/
  .main-profile-image {
    margin-left: 1em;
    margin-right: 0.5em;
    margin-top: 0.3em;
  }

  .main-profile-name {
    padding-right: 0.8em;
  }

  .profile-image,
  .activity-image {
    border-radius: 50%;
  }

  .bell-div {
    padding-right: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
    border-right: 2px solid #ff9494;
    border-radius: 3px;
  }

  .bell-div img {
    height: 30px;
  }

  nav img[src="icons/icon-dashboard.svg"] {
    margin-top: 0.4em;
  }

  nav img {
    width: 40px;
    margin-bottom: 1.5em;
    margin-left: 0.35em;
  }

  .headline {
    margin-left: 0.6em;
  }

  .main-header-search {
    margin-top: 1.5em;
    margin-right: 1em;
  }

  .alert {
    background-color: #ffb5b5;
    border-radius: 6px;
    height: 35px;
  }

  .alert-banner {
    display: grid;
    grid-template-columns: 1.9fr 0.1fr;
    grid-template-areas: "alert-message alert-banner-close";
  }

  .alert-message {
    grid-area: alert-message;
    font-size: 0.9rem;
    margin-left: 1em;
    margin-top: 0.7em;
  }

  .alert-banner-close {
    grid-area: alert-banner-close;
    margin-top: 0.5em;
  }

  .social-image {
    background-color: #d1a7a7;
    padding: 0.6em;
    border: 3px solid #d1a7a7;
    border-radius: 50%;
  }

  /* Grid Container --------------------------*/
  .grid-container {
    grid-template: 65px minmax(500px, 1fr) / 50px minmax(500px, 1fr);
    grid-template-areas:
      "header header"
      "main-nav main-content";
  }

  .main-content {
    display: grid;
    grid-template-columns: 50%;
    grid-template-areas: "main-content-header main-content-header";
  }

  .traffic,
  .social-container {
    grid-column: 1 / span 2;
  }

  .daily,
  .members,
  .message {
    grid-column: 1 / span 1;
  }

  .mobile,
  .activity,
  .settings {
    grid-column: 2 / span 1;
  }

  .widget-container-full {
    margin: 0 auto;
    width: 90vw;
  }

  .widget-container-half {
    width: 45vw;
  }

  /* Main Content Grid --------------------------*/
  .main-content-header {
    display: grid;
    grid-area: main-content-header;
    grid-template-columns: 1.7fr 0.3fr;
    grid-template-areas:
      "headline main-header-search"
      "alert alert";
  }

  .headline {
    grid-area: headline;
  }

  .main-header-search {
    grid-area: main-header-search;
  }

  /* Chart Grid --------------------------*/
  .daily {
    display: grid;
    grid-template-areas: "daily-chart mobile-chart";
  }

  #traffic-chart {
    grid-area: traffic-chart;
  }

  #daily-chart {
    grid-area: daily-chart;
  }

  #mobile-chart {
    grid-area: mobile-chart;
  }

  /* Social Grid --------------------------*/
  /* Make text appear next to social image. */
  .social-container {
    display: grid;
    grid-template-areas: "social-image social-text";
  }

  .social-image {
    grid-area: social-image;
  }

  .social-text {
    grid-area: social-text;
  }

  /* Members Grid --------------------------*/
  .members-container {
    display: grid;
    grid-template-areas:
      "profile-image members-text members-container-p"
      "profile-image members-text members-container-p";
  }

  .profile-image {
    grid-area: profile-image;
  }

  .members-text {
    grid-area: members-text;
  }

  .members-container p {
    grid-area: members-container-p;
  }

  /* Recent Activity Text Grid --------------------------*/
  .activity-text {
    display: grid;
    grid-template-areas:
      "activity-name activity-p"
      "activity-time activity-time";
  }

  .activity-name {
    grid-area: activity-name;
  }

  .activity-p {
    grid-area: activity-p;
  }

  .activity-time {
    grid-area: activity-time;
  }

  /* Recent Activity Grid --------------------------*/
  .activity-container {
    display: grid;
    grid-template-areas: "activity-image activity-text activity-arrow";
  }

  .activity-image {
    grid-area: activity-image;
  }

  .activity-text {
    grid-area: activity-text;
  }

  .activity-arrow {
    grid-area: activity-arrow;
  }

  /* Message Grid --------------------------*/
  .widget-container {
    display: grid;
    grid-template-columns: 0.8fr;
    grid-template-areas:
      "form-field"
      "form-area"
      "button-primary";
  }

  .form-field {
    grid-area: form-field;
  }

  .form-area {
    grid-area: form-area;
  }

  .button-primary {
    grid-area: button-primary;
  }
}
