/* Main Styles --------------------------*/
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

ul {
  list-style: none;
}

img {
  background-color: #ffdede;
  height: 50px;
}

/* Header Grid --------------------------*/
header {
  background-color: #ffb5b5;
  display: grid;
  grid-template-areas: "h1 bell-div main-profile-image profile-name";
}

h1 {
  grid-area: h1;
}

.bell-div {
  grid-area: bell-div;
}

img[src="images/pusheen.jpg"] {
  grid-area: main-profile-image;
}

.profile-name {
  grid-area: profile-name;
}

/* Dashboard Grid --------------------------*/
.main-content-header {
  display: grid;
  grid-template-areas: "headline main-header-search";
}

.headline {
  grid-area: headline;
}

.main-header-search {
  grid-area: main-header-search;
}

/* Traffic Header Grid --------------------------*/
.traffic-header {
  display: grid;
  grid-template-areas: "traffic-header-h3 traffic-header-ul";
}

.traffic-header h3 {
  grid-area: traffic-header-h3;
}

ul li {
  display: inline;
}

/* Grid Area --------------------------*/
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "main-nav"
    "main-content";
}

header {
  grid-area: header;
}

.main-nav {
  grid-area: main-nav;
  background-color: #ffdede;
}

.main-content {
  display: grid;
  grid-area: main-content;
  background-color: #fff7f7;
}

.social-image {
  height: 50px;
  width: 50px;
}

.widget-container-full img {
  height: auto;
  width: 90%;
}

.widget-container-half img[src="images/bar-graph-placeholder.jpg"] {
  height: 200px;
  width: auto;
}

.widget-container-half img[src="images/pie-chart-placeholder.jpg"] {
  height: 200px;
  width: 350px;
}

.widget-container-full,
.widget-container-half {
  width: 95vw;
}

/* Media Queries --------------------------*/
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      "header header"
      "main-nav main-content";
  }

  .main-content {
    grid-template-columns: 50%;
  }

  /* Chart Grid --------------------------*/
  .daily {
    display: grid;
    grid-template-areas: "daily-chart mobile-chart";
  }

  #traffic-chart {
    grid-area: traffic-chart;
  }

  #daily-chart {
    grid-area: daily-chart;
  }

  #mobile-chart {
    grid-area: mobile-chart;
  }

  /* Social Grid --------------------------*/
  .social-container {
    display: grid;
    grid-template-areas: "social-image social-text";
  }

  .social-image {
    grid-area: social-image;
  }

  .social-text {
    grid-area: social-text;
  }

  /* Members Grid --------------------------*/
  .members-container {
    display: grid;
    grid-template-areas:
      "profile-image members-text members-container-p"
      "profile-image members-text members-container-p";
  }

  .profile-image {
    grid-area: profile-image;
  }

  .members-text {
    grid-area: members-text;
  }

  .members-container p {
    grid-area: members-container-p;
  }

  /* Message Grid --------------------------*/
  .widget-container {
    display: grid;
    grid-template-columns: 0.8fr;
    grid-template-areas:
      "form-field"
      "form-area"
      "button-primary";
  }

  .form-field {
    grid-area: form-field;
  }

  .form-area {
    grid-area: form-area;
  }

  .button-primary {
    grid-area: button-primary;
  }

  .traffic,
  .social-container {
    grid-column: 1 / span 2;
  }

  .daily,
  .members,
  .message {
    grid-column: 1 / span 1;
  }

  .mobile,
  .activity,
  .settings {
    grid-column: 2 / span 1;
  }

  .widget-container-full {
    width: 90vw;
  }

  .widget-container-half {
    width: 45vw;
  }
}
